{{!-- set up file to have the template that handlebars can render onto --}}

{{!-- create a button that will submit user input into the database --}}
<div class="container-fluid">
    <div class="row justify-content-sm-center">

        <div class="jumbotron">
            <h3>Hamburguesa!</h3>

            <ul>
                {{#each burgers}}
                {{#unless devoured}}
                {{> burgers/burger-block devoured=true}}
                {{/unless}}
                {{/each}}
            </ul>

            <h3>Noburguesa!</h3>
            <ul>
                {{#each burgers}}
                {{#if devoured}}
                {{> burgers/burger-block devour=false}}
                {{/if}}
                {{/each}}
            </ul>

            <h5>Addburguesa!</h5>
            <form class="create-form">
                <div class="form-group">
                    <input type="text" id="order-new-burger" name="burger_name">
                </div>

                <button type="submit" class="btn btn-primary" id="burger-time">Order!</button>
            </form>
        </div>
    </div>
</div>